#!/usr/bin/env sh

# A sample post-deploy hook
#
# These environment variables are available:
# DASH_RECORDED_AT
# DASH_PERFORMER
# DASH_VERSION
# DASH_HOSTS
# DASH_ROLES (if set)
# DASH_DESTINATION (if set)
# DASH_RUNTIME

echo "$DASH_PERFORMER deployed $DASH_VERSION to $DASH_DESTINATION in $DASH_RUNTIME seconds"
